/*body * {
	border: 1px solid red; 
}*/
body {
	margin: 0px;
	font-family: arial;
	background: #efefef;
}
header {
	margin: 0px;
	padding: 0px;
	border: none;
	border-top: 2px solid #8a2be2;
	box-shadow: 0px 0px 10px #8a2be2;
	position: fixed;
	top: 0px;
	width: 2000px;
	background: #fff;
	z-index: 3;
}
nav {
	padding: 4px 4px 3px 4px;
	font-size: 24px;
	background: #fff;
	margin: 0px;
}
nav a {
	text-decoration: none;
	color: #8a2be2;
	background: #fff;
	margin: 0px -4px 0px -4px;
	padding: 4px;
}
nav a:hover {
	background: #8a2be2;
	color: #fff;
}
#dropdown1 {
	position: relative;
	display: inline-block;
}
#dropdownh {
	
}
#dropdown1cont {
	display: none;
	position: absolute;
	min-width: 125.39px;
	box-shadow: 0px 5px 10px -5px #8a2be2;
	top: 31px;
}
#dropdown1cont a {
	display: block;
	background: #C9BED3;
	color: #6B00D6;
}
#dropdown1cont a:hover {
	background: blueviolet;
	color: #fff;
}
#dropdown1:hover #dropdown1cont {
	display: block;
}
#hp1 {
	position: relative;
	top: 48px;
	text-align: center;
	font-size: 64px;
	color: #696969;
	animation: hp1x 0.7s;
}
@keyframes hp1 {
	from { opacity: 0; top: 32px; }
	to { opacity: 1; top: 48px; }
}
#hp2 {
	font-size: 42px;
	animation: hp2x 0.7s;
	position: relative;
	top: 48px;
	text-align: center;
	color: #696969;
	opacity: 0;
/*	animation-fill-mode: forwards; */
}
@keyframes hp2 {
	from { opacity: 0; top: 23px; }
	to { opacity: 1; top: 48px; }
}
#mcontent {
	font-size: 36px;
	color: #696969;
	position: relative;
	text-align: center;
	top: 260px;
}
#img1 {
	width: 60%;
	height: 60%;
	position: relative;
	top: 24px;
	box-shadow: 0px 0px 10px #000;
}
#mcontentb {
	padding: 240px 16px 240px 16px;
	font-size: 48px;
	transform: rotate(90deg);
	position: relative;
	left: 46%;
	top: 0px;
	border: 0;
	box-shadow: 0px 0px 5px black;
	background: #efefef;
	cursor: pointer;
	animation: hb1x 0.5s;
	opacity: 0;
}
@keyframes hb1 {
	from { opacity: 0; top: -20px; }
	to { opacity: 1; top: 0px; }
}
#secondtext1p {
	font-size: 48px;
	margin: 320px 16px 240px 16px;
	position: relative;
	text-align: center;
}